:host {
  display: block;

  .primary {
    cursor: pointer;
    outline: none;
    border: 1px solid $orange;
    border-radius: 5px;
    background: $orange;
    color: $white;
    margin: 10px 16px;
    width: 108px;
    height: 40px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 12px;
    font-weight: bold;
    align-items: center;
    vertical-align: sub;
    transition: all 0.3s;

    &:hover {
      border-color: darken($orange, 5%);
      background-color: darken($orange, 5%);
    }

    svg {
      margin-top: 3px;
      margin-right: 6px;

      path {
        fill: $white;
      }
    }
  }
}
